* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Shippori Antique B1", Roboto, sans-serif;
}

.bodyContainer {
  background-color: #ffffff;
}

/*extends*/
.redesUl, .wspContainer .wsp, .mapContainer, .product, .productBox, .mainProduct, .iconContainer {
  display: flex;
  justify-content: center;
}

.headerContainer {
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navBack {
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 18px;
}

.logoContainer {
  display: flex;
  width: 25%;
}

.textLogo {
  font-size: 27px;
  font-style: italic;
  font-weight: bolder;
  color: #f0f0f0;
}

.searchContainer {
  display: flex;
  width: 50%;
}

.searchContainerMobile {
  display: none;
}

.searchBar, .searchButton, .buttonLink {
  height: 30px;
}

.searchContainer .searchBar {
  padding-left: 15px;
  margin-right: 2px;
  border: none;
  border-radius: 8px;
  width: 80%;
}

.searchButton {
  color: #f0f0f0;
  margin-left: 2px;
  border: none;
  border-radius: 8px;
  width: 20%;
  background-color: #006F62;
}
.searchButton:hover {
  background-color: #01c2ab;
  color: #161616d5;
}
.searchButton:active {
  position: relative;
  top: 1px;
}

.loginContainer {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginContainerMobile {
  display: none;
  width: 45%;
}

.buttonLink {
  width: 40%;
  background-color: #006F62;
  border-radius: 8px;
  text-align: center;
}
.buttonLink:hover {
  background-color: #01c2ab;
}
.buttonLink:active {
  position: relative;
  top: 1px;
}

.loginLink {
  text-decoration: none;
  color: #f0f0f0;
}
.loginLink:hover {
  color: #161616d5;
}

.cartLink {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartText {
  color: #f0f0f0;
  font-size: 13px;
  margin: 0;
}

.fas {
  color: #006F62;
  padding: 0 40px;
  font-size: 25px;
}
.fas:hover {
  color: #01c2ab;
}

.itemsBackgrounds {
  background-image: linear-gradient(#006F62, #01c2ab);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.26);
}

.myFont {
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 20px;
  font-weight: bolder;
}
.myFont:hover {
  color: #161616d5;
}

/*mapas*/
/*Mixin*/
/*extends*/
.redesUl, .wspContainer .wsp, .mapContainer, .product, .productBox, .mainProduct, .iconContainer {
  display: flex;
  justify-content: center;
}

/*MAIN*/
.prodTitle {
  color: #161616d5;
  padding-top: 40px;
  font-style: normal;
  font-size: 28px;
  border-bottom: 1px solid #01c2ab;
}

.iconContainer {
  margin: 50px auto;
  flex-wrap: wrap;
  border-radius: 5px;
  width: 85%;
  background-color: #161616d5;
}

.titleProduct {
  padding-top: 35px;
  text-align: center;
}

.iconBox {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.textIcon {
  color: #f0f0f0;
  text-align: center;
  padding-top: 18px;
  font-family: "Shippori Antique B1", Roboto, sans-serif;
}

.sectionProduct {
  padding: 50px;
}

.titleSect {
  text-align: center;
  border-bottom: 1px solid #01c2ab;
}

.mainProduct {
  flex-wrap: wrap;
}

.productBox {
  margin: 20px auto;
  padding: 0 50px;
}

.product {
  color: #161616;
  padding: 50px 0;
  font-weight: bolder;
  text-align: center;
  transition: 0.3s;
}

.cardBack {
  background-color: #eeeeee;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.26);
}
.cardBack:hover {
  border: 1px solid #161616;
}

.card-title {
  font-size: 22px;
  height: 60px;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
  overflow: hidden;
}

.buttonBack {
  padding: 4px 12px;
  border-radius: 5px;
  background-color: #01c2ab;
  text-decoration: none;
  color: #161616;
  border: 1px solid #006F62;
}
.buttonBack:hover {
  color: #161616;
}
.buttonBack:active {
  position: relative;
  top: 1px;
}

.sectionTwo {
  margin: 35px 0;
  padding: 0 60px;
}

.carousel-caption h2 {
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 8px;
  font-size: 26px;
}

.titleParagraph {
  text-align: left;
  font-size: 28px;
  border-bottom: 1px solid #01c2ab;
}

.titleParagraph, .paragraph {
  color: #161616d5;
}

.paragraph {
  padding-top: 10px;
  font-size: 18px;
}

.sectionMap {
  margin-top: 55px;
  padding: 0 60px;
}

.titleMap {
  font-size: 22px;
  color: #161616d5;
  border-bottom: 1px solid #01c2ab;
}

.mapContainer {
  padding: 30px 0;
}

.map {
  border-radius: 8px;
}

.wspContainer {
  width: 60px;
  height: 60px;
  background-color: #01c2ab;
  border-radius: 30px;
  position: sticky;
  bottom: 20px;
  left: 93%;
}

.wspContainer a {
  text-decoration: none;
}

.wspContainer .wsp {
  align-items: center;
  padding: 12px;
}

/*FIN MAIN*/
/*extends*/
.redesUl, .iconContainer, .mainProduct, .productBox, .product, .mapContainer, .wspContainer .wsp {
  display: flex;
  justify-content: center;
}

footer {
  background-image: linear-gradient(#006F62, #01c2ab);
}

.contactContainer {
  margin: 0 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #f0f0f0;
  border-bottom: 1px solid #006F62;
}

.mailContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

.mailBar {
  padding-left: 10px;
  margin-right: 2px;
  width: 45%;
  border: none;
  height: 30px;
  border-radius: 8px;
}

.suscribeButton {
  border: none;
  margin-left: 2px;
  border-radius: 8px;
  width: 40%;
  height: 30px;
  background-color: #161616d5;
  color: #f0f0f0;
}
.suscribeButton:hover {
  color: #01c2ab;
}
.suscribeButton:active {
  position: relative;
  top: 1px;
}

.redContainer {
  width: 40%;
}

.contactText {
  padding-right: 10px;
  font-size: 15px;
  text-align: left;
  margin: 0;
}

.iconsContainer {
  display: flex;
  align-items: center;
}

.navRedes {
  padding-top: 20px;
}

.redesUl {
  flex-wrap: wrap;
  padding-left: 0;
}

.fab {
  font-size: 2rem;
  color: #161616d5;
  padding: 0 10px;
  transition: 0.2s;
}
.fab:hover {
  transform: scale(1.3);
}

.copyrightBox {
  padding: 10px 0;
}

.copyrightText {
  text-align: center;
  color: #161616d5;
}

/*MEDIAS QUERIES*/
@media only screen and (max-width: 1200px) and (min-width: 521px) {
  /*HEADER*/
  .logoContainer {
    width: 60%;
  }

  .searchContainer {
    display: none;
  }

  .searchContainerMobile {
    background-color: #161616d5;
    display: flex;
    justify-content: start;
    padding: 10px;
  }

  .searchBar {
    width: 80%;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 14px;
  }

  .searchButton {
    font-size: 14px;
  }

  .loginContainer {
    padding-left: 10px;
    width: 40%;
  }

  .buttonLink {
    width: 100%;
  }

  .loginLink {
    font-size: 14px;
  }

  .fas {
    font-size: 20px;
  }

  /*FIN HEADER*/
  /*FOOTER*/
  .mailContainer {
    width: 60%;
  }

  .mailBar {
    margin-top: 10px;
  }

  .suscribeButton {
    width: 40%;
  }

  /*FIN FOOTER*/
}
@media only screen and (max-width: 520px) {
  /*HEADER*/
  .logoContainer {
    width: 100%;
    justify-content: center;
  }

  .searchContainer, .loginContainer {
    display: none;
  }

  .searchContainerMobile {
    background-color: #161616d5;
    display: flex;
    justify-content: start;
    padding: 10px;
  }

  .searchBar {
    width: 80%;
    border-radius: 8px;
    padding-left: 5px;
    font-size: 12px;
  }

  .searchButton {
    font-size: 12px;
  }

  .loginContainerMobile {
    display: flex;
    justify-content: flex-start;
  }

  .fas {
    font-size: 18px;
    color: #161616d5;
  }

  .loginContainerMobile .buttonLink {
    background-color: #161616d5;
    width: 50%;
  }
  .loginContainerMobile .buttonLink:active {
    background-color: #161616d5;
  }

  .cartLink {
    width: 30%;
  }

  .loginContainerMobile .loginLink {
    font-size: 12px;
    width: 50%;
  }
  .loginContainerMobile .loginLink:active {
    color: #01c2ab;
  }

  /* FIN HEADER*/
  .title {
    font-size: 22px;
  }

  .paragraph {
    font-size: 14px;
  }

  /* FOOTER*/
  .contactText {
    padding-bottom: 10px;
  }

  .mailContainer {
    width: 100%;
  }

  .suscribeButton {
    width: 50%;
  }

  .copyrightText {
    font-size: 12px;
  }

  /* FIN FOOTER*/
}

/*# sourceMappingURL=style.css.map */
