@import '../base/maps.scss';
@import '../base/mixins.scss';
@import '../base/extends.scss';

/*MAIN*/
.prodTitle {
    color: $bg-sec;
    padding-top: 40px;
    font-style: normal;
    font-size: 28px;
    border-bottom: 1px solid $button-color;
}

.iconContainer, .mainProduct, .productBox, .product, .mapContainer {
    @extend %flex;
}

.iconContainer {
    margin: 50px auto;
    flex-wrap: wrap;
    width: 85%; 
    background-color: $bg-sec;
}

.titleProduct {
   padding-top: 35px; 
   text-align: center;
}

.iconBox {
    padding: 2rem;
    display: flex;
    align-items: center;    
}

.textIcon {
    text-align: center;
    padding-top: 18px;
}

.sectionProduct {
    padding: 50px;
}

.titleSect {
    text-align: center;
    border-bottom: 1px solid $button-color;
}

.mainProduct {
    flex-wrap: wrap;
}

.productBox {
    margin: 20px auto;
    padding: 0 50px;
}

.product {
    color: $bg-h1;
    padding: 50px 0;
    font-weight: bolder;
    text-align: center;
    transition: 0.3s;
  
}

.cardBack {
    background-color: map-get($productos , bg-prod);
    &:hover{
    border:map-get($productos , border-prod );
    }
    box-shadow:  0px 1px 5px rgba(0, 0, 0, 0.26);   
}

.card-title {
    font-size: 22px;
    height: 60px;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
    overflow: hidden;
}



.buttonBack {
    padding: 4px 12px;
    background-color: $button-color;
    text-decoration: none;
    color: $bg-h1;
    &:hover {
        color: $bg-h1;
    }

    &:active {
        position: relative;
        top: 1px;
    }
    @include buttoms;
}

.sectionTwo {
    margin: 35px 0;
    padding: 0 60px;
}

.carousel-caption h2 {
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 8px;
    font-size: 26px;
}



.titleParagraph {
    text-align: left;
    font-size: 28px;
    border-bottom: 1px solid $button-color;
}

.titleParagraph, .paragraph {
    color: $bg-sec;
}

.paragraph {
    padding-top: 10px;
    font-size: 18px;
}

.sectionMap {
    margin-top: 55px;
    padding: 0 60px;
}

.titleMap {
    font-size: 22px;
    color: $bg-sec;
    border-bottom: 1px solid $button-color;
}

.mapContainer {
    padding: 30px 0;
}

.map, .loginButton, .loginSection, .loginBar, .iconContainer, .cardBack, .buttonBack {
    border-radius: 8px;
}

.wspContainer {
    width: 60px;
    height: 60px;
    background-color: $button-color;
    border-radius: 30px;
    position:sticky;
    bottom: 20px;
    left:93%;
}

.wspContainer a{
    text-decoration: none
}


.wspContainer .wsp {
    @extend %flex;
    align-items: center;
    padding: 12px;
}

.loginTitle {
    margin: 0 60px;
}

.loginSection {
    margin:20px 60px 60px;
    padding: 50px;
    background-color: $bg-sec;
}

.loginSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInfo {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.loginText, .regisIng, .loginButton, .textIcon {
    color: $color-letter;
}

 .loginText {
    font-size: 16px;
}

.loginBar {
    height: 30px;
    padding-left: 5px;
    margin-bottom: 15px;
    &:focus { outline: none;
    }
}


.nameContainer {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.loginSection form .loginInfo.nameContainer div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.loginBar.nameBar {
    margin-right: 5px;
}

.regisIng {
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    text-decoration: none;
    &:hover {
        color: $button-color;
    }
}

.loginButton {
    height: 30px;
    margin-left: 2px;
    border: none;
    width: 20%;
    background-color: $astonm-color;
    &:hover {
        background-color: $button-color;
        color: $bg-sec;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}
/*FIN MAIN*/

