/*MEDIAS QUERIES*/

@media only screen and (max-width: 1200px) and (min-width:521px){
  /*HEADER*/
    .logoContainer {
        width: 60%;
    }
    
    .searchContainer{
        display: none;
    }

    .searchContainerMobile {
        background-color: $bg-sec;
        display: flex;
        justify-content: start;
        padding: 10px
    }

    .searchBar {
        width: 80%;
        border-radius: 8px;
        padding-left: 10px;
        font-size: 14px;
    }

    .searchButton {
        font-size: 14px;
    }

    .loginContainer {
        padding-left: 10px;
        width: 30%;
    }

    .buttonLink {
        width: 100%;
    }

    .loginLink {
        font-size: 14px;
    }
  
    .fas {
      font-size: 20px;
   }

   .navLink {
    font-size: 18px;
   }

   /*FIN HEADER*/

   /*MAIN*/
   .loginText {
       font-size: 14px;
   }

   .loginButton {
     font-size: 12px;
     width: 30%;
    }

    .regisIng {
        font-size: 10px;
    }

     /*FIN MAIN*/

    /*FOOTER*/
    .mailContainer {
        width: 60%;
    }
    .mailBar {
        margin-top: 10px;
    }

    .suscribeButton {
        width: 40%;
    }
     /*FIN FOOTER*/


}


@media only screen and (max-width: 991px)  {
    .nav-item {
        border-bottom: 1px solid $bg-sec;
    }
}



@media only screen and (max-width: 520px)  {
    /*HEADER*/
    .logoContainer {
        width: 100%;
        justify-content: center;
    }
    .searchContainer, .loginContainer{
        display: none;
    }
    
    .searchContainerMobile {
      background-color: $bg-sec;
      display: flex;
      justify-content: start;
      padding: 10px;
    }

    .searchBar {
        width: 80%;
        border-radius: 8px;
        padding-left: 5px;
        font-size: 12px;
    }

    .searchButton {
        font-size: 12px;
    }

    .loginContainerMobile {
        display: flex;
        justify-content: flex-start;
    }

    .fas {
        font-size: 18px;
        color: $bg-sec;
    }

    .loginContainerMobile .buttonLink {
        background-color: $bg-sec;
        width: 50%;
        &:active {
            background-color: $bg-sec;
        }
    }

    .cartLink {
        width: 30%;
    }

    .loginContainerMobile .loginLink {
        font-size: 12px;
        width: 50%;
        &:active{
            color: $button-color; 
        }
    }
     
    .navLink {
        font-size: 14px;
    }



    /* FIN HEADER*/

    /* MAIN*/
    .title {
        font-size: 22px;
    } 

    .paragraph {
        font-size: 14px;
    }

    .loginSection {
        margin:10px 30px 30px;
        border-radius: 8px;
        padding: 30px;
        background-color: $bg-sec;
    }

    .loginText {
        font-size: 12px;
    }

    .loginBar {
        width: 100%;
    }

    .loginButton {
        font-size: 12px;
        width: 60%;
    }

    .regisIng {
        font-size: 10px;
    }

    .loginInfo.nameContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
    }

    .loginSection form .loginInfo.nameContainer div {
        width: 100%;
    }

    .loginInfo {
        width: 100%;
    }

    
    /* FIN MAIN*/

    /* FOOTER*/

    .contactText {
        padding-bottom: 10px;
    }
    .mailContainer {
        width: 100%;
    }
    .suscribeButton{
        width: 50%;
    }

    .copyrightText {
        font-size: 12px;
    }
    /* FIN FOOTER*/
   

   
}